@attribute [Route(Home.DefaultRoute)]

<PageTitle>Home</PageTitle>

<h1>Home</h1>

<h4>
    Welcome to the <b>Chapman Farm <i>Almost</i> 5K</b> Web App!
</h4>
<p>
    You can use this app to support the placement tracking and
    approximate timing of race participant.
</p>



@code
{
    public const string DefaultRoute = "/";
}
