@using Blazored.LocalStorage
@attribute [Route(SignIn.DefaultRoute)]
@inject ILocalStorageService LocalStorage
<PageTitle>Sign In</PageTitle>
<h1>Sign In</h1>

<style>
    .signin-options {
        border: solid 1px #ccc;
        margin: 10px;
        padding: 10px;
    }
</style>

<div>
    <div class="signin-options"><EmailSignInButton /></div>
    <div class="signin-options"><GitHubSignInButton /></div>
</div>

@code
{
    public const string DefaultRoute = "/signin";

    public const string DefaultRedirectTo = Home.DefaultRoute;

    [SupplyParameterFromQuery]
    public bool DoNotRedirect { get; set; }
    [SupplyParameterFromQuery]
    public string? RedirectTo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await SignInCallback.SetRedirectTo(LocalStorage, DoNotRedirect
            ? null
            : RedirectTo ?? DefaultRedirectTo);
    }
}
